<div class="form-group">
    <label for="email">Email: </label>
    <input required type="email" name="email" id="email" class="form-control">
</div>
<div class="form-group">
    <label for="name">Name: </label>
    <input required type="text" name="name" id="name" class="form-control">
</div>
<div class="form-group">
    <div>How close are we?:</div>
    <div class="form-check">
        <label class="form-check-label" for="q1-1">
        <input type="radio" class="form-check-input" id="q1-1" name="q1" value="Friends">
        Friends
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="q1-2">
        <input type="radio" class="form-check-input" id="q1-2" name="q1" value="Family">
        Family
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="q1-3">
        <input type="radio" class="form-check-input" id="q1-3" name="q1" value="Colleagues">
        Colleagues
        </label>
    </div>
</div>
<div class="form-group">
    <div>When was the last time we saw each other?:</div>
    <div class="form-check">
        <label class="form-check-label" for="q2-1">
        <input type="radio" class="form-check-input" id="q2-1" name="q2" value="Within 1 day">
        Within 1 day
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="q2-2">
        <input type="radio" class="form-check-input" id="q2-2" name="q2" value="Within 1 month">
        Within 1 month
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="q2-3">
        <input type="radio" class="form-check-input" id="q2-3" name="q2" value="Within 6 months">
        Within 6 months
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="q2-4">
        <input type="radio" class="form-check-input" id="q2-4" name="q2" value="6 months +">
        6 months +
        </label>
    </div>
</div>
<div class="form-group">
    <div>What's our priority for today?:</div>
    <div class="form-check">
        <label class="form-check-label" for="q3-1">
        <input type="radio" class="form-check-input" id="q3-1" name="q3" value="Have a good time & catch up">
        Have a good time & catch up
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="q3-2">
        <input type="radio" class="form-check-input" id="q3-2" name="q3" value="Discussion">
        Discussion
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="q3-3">
        <input type="radio" class="form-check-input" id="q3-3" name="q3" value="Work">
        Work
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="q3-4">
        <input type="radio" class="form-check-input" id="q3-4" name="q3" value="Experience life virtually">
        Experience life virtually
        </label>
    </div>
</div>
<button type="submit" class="btn btn-primary"> Submit </button>


